@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-Regular.otf") format("woff"), url("fonts/ProximaNova-Regular.otf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/AvenirNextLTPro-Regular.otf") format("woff"), url("fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #333; }

header nav.navbar {
  margin: 0; }
  header nav.navbar .navbar-header a {
    font: 1.4em 'Proxima Nova', sans-serif;
    letter-spacing: 1.5px;
    color: #333;
    text-transform: uppercase; }

header .collapse a {
  text-transform: uppercase;
  font: 1.1em 'Proxima Nova', sans-serif;
  color: #333; }
  header .collapse a:hover {
    cursor: pointer;
    color: #8B0000 !important; }

header .collapse li.dropdown ul.dropdown-menu {
  opacity: 0.9;
  z-index: 10; }
  header .collapse li.dropdown ul.dropdown-menu a {
    font-size: 1.2em;
    text-transform: lowercase; }

header .collapse .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

#cover-photo .hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.55))), url("../assets/historyCover1.jpg");
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.55)), url("../assets/historyCover1.jpg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.55)), url("../assets/historyCover1.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.55)), url("../assets/historyCover1.jpg");
  height: 100vh;
  max-width: 100%;
  position: relative;
  background-size: cover;
  background-position: top; }
  #cover-photo .hero .row .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #cover-photo .hero .row .hero-text h1 {
      color: #FFF;
      font: 8.3rem 'Proxima Nova', sans-serif;
      letter-spacing: 2px;
      margin-bottom: 3px; }
    #cover-photo .hero .row .hero-text p {
      color: #FFF;
      font: 1.5em 'Proxima Nova', sans-serif; }

#main-info .container-fluid {
  max-width: 90%; }
  #main-info .container-fluid .tt-origins {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center; }
    #main-info .container-fluid .tt-origins h2 {
      font: 3.5em 'Avenir Next', sans-serif;
      text-transform: uppercase;
      color: #8B0000; }
    #main-info .container-fluid .tt-origins p {
      font: 1.5em 'Proxima Nova', sans-serif;
      line-height: 1.5; }
    #main-info .container-fluid .tt-origins img {
      height: 300px; }
  #main-info .container-fluid .ucsb-origins {
    text-align: center;
    margin-bottom: 10%; }
    #main-info .container-fluid .ucsb-origins h2 {
      font: 3.5em 'Avenir Next', sans-serif;
      text-transform: uppercase;
      color: #8B0000; }
    #main-info .container-fluid .ucsb-origins p {
      font: 1.5em 'Proxima Nova', sans-serif;
      line-height: 1.5; }

#footer {
  padding: 3% 0;
  border-top: 1px solid #e5e5e5; }
  #footer .container-fluid .copyright-social {
    text-align: center; }
    #footer .container-fluid .copyright-social p {
      font: 0.95em 'Proxima Nova', sans-serif;
      margin: 0;
      color: #5a5a5a;
      margin-bottom: 5px; }
    #footer .container-fluid .copyright-social p#copyright {
      font: 1em 'Proxima Nova', sans-serif; }
    #footer .container-fluid .copyright-social p#contact {
      font: 1em 'Proxima Nova', sans-serif; }
    #footer .container-fluid .copyright-social img {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 35px; }

@media (max-width: 500px) {
  header nav .navbar-header a {
    font-size: 1em !important; } }
