@charset "UTF-8";
@font-face {
  font-family: 'Proxima Nova';
  src: url("fonts/ProximaNova-Regular.otf") format("woff"), url("fonts/ProximaNova-Regular.otf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/AvenirNextLTPro-Regular.otf") format("woff"), url("fonts/AvenirNextLTPro-Regular.otf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #333; }

header nav.navbar {
  margin: 0; }
  header nav.navbar .navbar-header a {
    font: 1.4em 'Proxima Nova', sans-serif;
    letter-spacing: 1.5px;
    color: #333;
    text-transform: uppercase; }

header .collapse a {
  text-transform: uppercase;
  font: 1.1em 'Proxima Nova', sans-serif;
  color: #333; }
  header .collapse a:hover {
    cursor: pointer;
    color: #8B0000 !important; }

header .collapse li.dropdown ul.dropdown-menu {
  opacity: 0.9;
  z-index: 10; }
  header .collapse li.dropdown ul.dropdown-menu a {
    font-size: 1.2em;
    text-transform: lowercase; }

header .collapse .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

#cover-photo .hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.55))), url("../assets/activeMembersCover.jpg");
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.55)), url("../assets/activeMembersCover.jpg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.55)), url("../assets/activeMembersCover.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.55)), url("../assets/activeMembersCover.jpg");
  height: 100vh;
  max-width: 100%;
  position: relative;
  background-size: cover;
  background-position: 0 15%; }
  #cover-photo .hero .row .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #cover-photo .hero .row .hero-text h1 {
      color: #FFF;
      font: 7rem 'Proxima Nova', sans-serif;
      letter-spacing: 2px;
      margin-bottom: 3px; }
    #cover-photo .hero .row .hero-text p {
      color: #FFF;
      font: 1.5em 'Proxima Nova', sans-serif; }

#main-info .container-fluid {
  max-width: 90%; }
  #main-info .container-fluid .exec {
    margin-top: 10%;
    text-align: center; }
    #main-info .container-fluid .exec h2 {
      font: 3.5em 'Proxima Nova', sans-serif;
      color: #8B0000; }
  #main-info .container-fluid .active {
    margin-top: 10%;
    text-align: center; }
    #main-info .container-fluid .active h2 {
      font: 3.5em 'Proxima Nova', sans-serif;
      color: #8B0000; }
  #main-info .container-fluid .row .execmember-image {
    position: relative;
    padding: 5px;
   
    overflow: hidden; }
    #main-info .container-fluid .row .member-image{
      position: relative;
      padding: 5px;
      overflow: hidden; }
    #main-info .container-fluid .row .execmember-image img {
      display: block; 
      height: 320px;
      width: 500px;
      
    }
    #main-info .container-fluid .row .member-image img {
      display: block; 
      height: 320px;
      width: 520px;
   
    }
    #main-info .container-fluid .row .execmember-image:hover .execmember-caption  {
      height: 35%; }
      #main-info .container-fluid .row .member-image:hover .member-caption  {
        height: 35%; }
    #main-info .container-fluid .row .execmember-image .execmember-caption {
      position: absolute;
      bottom: 5px;
      left:5px;
      right: 0;
      background-color: #000;
      overflow: hidden;
      width: 500px;
      height: 0;
      -webkit-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease;
      opacity: 0.85; }
      #main-info .container-fluid .row .member-image .member-caption {
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 0;
        background-color: #000;
        overflow: hidden;
        width: 495px;
        height: 0;
        -webkit-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        opacity: 0.85; }
      #main-info .container-fluid .row .execmember-image .execmember-caption .text {
        white-space: nowrap;
        color: #FFF;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
        #main-info .container-fluid .row .member-image .member-caption .text {
          white-space: nowrap;
          color: #FFF;
          font-size: 20px;
          position: absolute;
          overflow: hidden;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%); }
        #main-info .container-fluid .row .execmember-image .execmember-caption .text p {
          font: 0.9em 'Proxima Nova', sans-serif;
          margin: 0; }
          #main-info .container-fluid .row  .member-image .member-caption .text p {
            font: 0.9em 'Proxima Nova', sans-serif;
            margin: 0; }
         
          

#footer {
  padding: 3% 0;
  border-top: 1px solid #e5e5e5; }
  #footer .container-fluid .copyright-social {
    text-align: center; }
    #footer .container-fluid .copyright-social p {
      font: 0.95em 'Proxima Nova', sans-serif;
      margin: 0;
      color: #5a5a5a;
      margin-bottom: 5px; }
    #footer .container-fluid .copyright-social p#copyright {
      font: 1em 'Proxima Nova', sans-serif; }
    #footer .container-fluid .copyright-social p#contact {
      font: 1em 'Proxima Nova', sans-serif; }
    #footer .container-fluid .copyright-social img {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 35px; }

@media (max-width: 500px) {
  header nav .navbar-header a {
    font-size: 1em !important; }
  #cover-photo .hero .row .hero-text h1 {
    font-size: 6.3rem; }
  #cover-photo .hero .row .hero-text p {
    font-size: 1.1em; } }

@media (max-width: 450px) {
  #main-info .container-fluid .row .member-image .member-caption .text p {
    font-size: 0.7em; } }
