 @import url('https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Nunito|Muli|Lato|Raleway|PT+Sans|Roboto+Slab|Hind|Open+Sans|Amiko|Source+Sans+Pro');
 $dark-red: #8B0000;
 $gold: #FFCC33;
 $off-white: #fafafa;
 $nav-color: #f9f9f9;
 * {
   margin: 0;
   padding: 0;
   border: 0;
 }
 
 // Nav
 .navigation {
   height: 8vh;
   position: fixed;
   background-color: $nav-color;
   width: 100%;
   z-index: 10;
   .nav-container {
     // margin: 0 auto;
     .brand {
       position: absolute;
       top: 30%;
       margin-left: 3.5%;
       a {
         line-height: 20px;
         font-weight: 1200; 
         color: #000000;
         font: 105% 'Lato', sans-serif;
         letter-spacing: 3px;
         text-decoration: none;
       }
     }
     nav {
       margin-right: 5%;
       float: right;
       ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         .icon {
           display: none;
           a{
             font-size: 120%;
           }
         }
         li {
           float: left;
           position: relative;
           a {
             font: 105% 'Lato', sans-serif;
             display: block;
             padding: 0 20px;
             line-height: 7vh;
             color: #000000;
             text-decoration: none;
             &:hover {
               cursor: pointer;
               color: $dark-red;
             }
           } // Dropdown list
           &:hover>ul.nav-dropdown {
             display: block;
           }
           ul.nav-dropdown {
             position: absolute;
             display: none;
             top: 8vh;
             z-index: 1;
             background-color: #e1e1e1;
             box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
             li {
               float: none;
               min-width: 190px;
                :hover {
                 background: $dark-red;
                 color: #FFF;
               }
               a {
                 padding: 15px;
                 line-height: 20px;
               }
             }
           }
         }
       }
     }
   }
 }
 /* Image */
 
 .members {
   background-color: $off-white;
   width: 100%;
   padding-top: 8vh;
   .members-image-wrapper {
     h1 {
       padding-top: 7%;
       text-align: center;
       text-transform: uppercase;
       font: 3em 'Lato', sans-serif;
       border-bottom: 2px solid black;
     }
     h2 {
       text-align: center;
       padding: 8% 0;
       color: $dark-red;
       text-transform: uppercase;
       font: 2em 'Lato', sans-serif;
       letter-spacing: 1px;
     }
     margin: 0 10%;
     .exec-wrapper-top {
       display: flex;
       margin: 0 5%;
       justify-content: space-between;
       .members-image {
         margin: 3% 2%;
         position: relative;
        //  display: inline-block;
         flex-basis: 400px;
         img {
           height: auto;
           display: block;
           width: 100%;
         }
         .overlay {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: #000000;
         overflow: hidden;
         width: 100%;
         height: 0;
         transition: all .5s ease;
         .desc {
           white-space: nowrap;
           position: absolute;
           font-size: 100%;
           overflow: hidden;
           transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           top: 50%;
           left: 50%;
           p {
             color: white;
            //  font-weight: 1000;
             font: 1.2em 'Lato', sans-serif;
             text-align: center;
             padding: 6% 0;
             .board-position{}
             .member-name {}
             .member-year {}
             .member-major{}
             .member-town{

             }
           }
         }
       }
       &:hover .overlay {
         height: 100%;
         display: block;
         opacity: .5;
       }
       }
     }
     .exec-wrapper-bottom {
       display: flex;
       justify-content: space-between;
       margin: 0 3%;
       .members-image {
         margin: 3% 2%;
         position: relative;
         display: inline-block;
         flex-basis: 425px;
         img {
           height: auto;
           display: block;
           width: 100%;
         }
         .overlay {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: #000000;
         overflow: hidden;
         width: 100%;
         height: 0;
         transition: all .5s ease;
         .desc {
           white-space: nowrap;
           position: absolute;
           font-size: 100%;
           overflow: hidden;
           transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           top: 30%;
           left: 50%;
           p {
             color: white;
             font-weight: 1000;
             font: 1.2em 'Lato', sans-serif;
             text-align: center;
             padding: 3% 0;
             .member-name {}
             .member-year {}
           }
         }
       }
       &:hover .overlay {
         height: 100%;
         display: block;
         opacity: .5;
       }
       }
     }
     .brothers-wrapper {
         display: flex;
         flex-wrap:wrap;
         justify-content: space-around;
         width: 100%;
       h2 {
         text-align: center;
         padding: 8% 0;
         color: $dark-red;
         text-transform: uppercase;
         font: 2em 'Lato', sans-serif;
         letter-spacing: 1px;
       }
     .members-image {
       margin: 3% 2%;
       position: relative;
       display: inline-block;
       flex-basis: 300px;
       img {
         height: 375px;
        //  display: block;
         width: 100%;
       }
       .overlay {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: #000000;
         overflow: hidden;
         width: 100%;
         height: 0;
         transition: all .5s ease;
         .desc {
           white-space: nowrap;
           position: absolute;
           font-size: 100%;
           overflow: hidden;
           transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           top: 30%;
           left: 50%;
           p {
             color: white;
             font-weight: 1000;
             font: 1.2em 'Lato', sans-serif;
             text-align: center;
             padding: 3% 0;
             .member-name {}
             .member-year {}
           }
         }
       }
       &:hover .overlay {
         height: 100%;
         display: block;
         opacity: .5;
       }
     }
   }
   }
 }
 /* Footer Area */
 
 .footer-wrapper {
   background: $off-white;
   padding-top: 3.5%;
   max-width: 100%;
   .footer-info {
     margin: 0 20%;
     border-top: 2px solid #e5e5e5;
     border-radius: 3px;
     padding-top: 2.5%;
     text-align: center;
     color: black;
     h3 {
       font-weight: 500;
       font-size: 100%;
       font-family: 'Lato', sans-serif;
     }
     p {
       padding-top: 7px;
       font-size: 95%;
       letter-spacing: 0.5px;
       font-family: 'Lato', sans-serif;
     }
     ul {
       list-style: none;
       padding-top: 1%;
       padding-bottom: 1%;
       margin-left: 1.5%;
       li {
         display: inline-block;
         padding: 2% 12px 2% 12px;
         a {
           i {
             color: black;
           }
         }
       }
     }
   }
   footer {
     padding-bottom: 0.75%;
     p {
       font-size: 75%;
       color: #4c4c4c;
       font-weight: 500;
       text-align: center;
       font-family: 'Nunito', sans-serif;
     }
   }
 }
 
 //  media queries
 @media screen and (max-width:768px) {
   .navigation {
     .nav-container {
       nav {
         float: none;
         ul.nav-list {
           li {
             display: none;
           }
           li.icon {
             position: absolute;
             top: 0;
             right: 0;
             display: inline-block;
           }
         }
       }
     }
   }
 }
 
 @media screen and (max-width:768px) {
   .navigation {
     .nav-container {
       nav {
         float: none;
         // transition: all 300ms ease-in-out;
         ul.nav-list.responsive {
           position: fixed;
           width: 100vw;
           padding-top: 8vh;
           text-align: center;
           li.icon {
             position: absolute;
             right: 0;
             top: 0;
             a {
               text-align: right;
             }
           }
           li:not(.icon) {
             float: none;
             display: inline;
             a {
               z-index: 100;
               &:not(:only-child):before {
                 //  padding-right: 4px;
                 content: '▾';
               }
               &:not(:only-child):after {
                 padding-left: 7px;
                 content: ' ';
               }
               background-color: #e4e3e0;
               display: block;
               text-align: center;
             }
             ul {
               display: inline;
             }
             ul.nav-dropdown {
               position: relative;
               display: none;
               top: 0;
             }
           }
           li.open:not(.icon) {
             a {
               &:not(:only-child):before {
                 content: '▴';
               }
               &:not(:only-child):after {
                 padding-left: 10px;
                 content: ' ';
               }
               &:hover {
                 background: $dark-red;
                 color: white;
               }
             }
             &:hover>ul.nav-dropdown {
               display: block;
               li {
                 a {
                   &:hover {
                     background: $dark-red;
                   }
                 }
               }
             }
           }
         }
       }
     }
   }
   .exec-wrapper-top{
     flex-wrap: wrap;
   }
   .exec-wrapper-bottom{
     flex-wrap: wrap;
     justify-content: space-around;
   }
 }

 @media screen and (max-width: 576px){
    .navigation{
     .nav-container{
       .brand{
         a{
           font-size: 80%;
         }
       }
     }
   }
 }