  @import url('https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Nunito|Muli|Lato|Raleway|PT+Sans|Roboto+Slab|Hind|Open+Sans|Amiko|Source+Sans+Pro');
    
    $dark-red: #8B0000;
    $gold: #FFCC33;
    $off-white: #fafafa;
    $nav-color: #f9f9f9;

    * {
      margin: 0;
      padding: 0;
      border: 0;
    }
    
    .wrapper {
      margin: 0.5% auto;
      width: 100%;
    }
    
    .home-wrapper {
      background-color: gray;
      .navBar {
        .logo {
          font-family: 'Roboto', sans-serif;
          font-size: 250%;
          letter-spacing: 2px;
          margin-left: 10%;
          .red {
            color: $dark-red;
          }
        }
        position: fixed;
        background-color: $nav-color;
        min-width: 100%;
        z-index: 10;
        height: 8vh;
        transition: all 0.7s;
      }
      nav {
        ul {
          margin-right: 3%;
          display: flex;
          justify-content: flex-end;
          list-style-type: none;
          width: 50%;
          a {
            padding: 0 5%;
            font-family: 'Nunito', sans-serif;
            letter-spacing: 1.5px;
            font-size: 125%;
            color: #000000;
            text-decoration: none;
            transition: all .5s ease;
            :hover {
              color: #8B0000;
              -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
              transform: scale(1.05);
            }
          }
        }
        li {
          display: inline-block;
        }
        .wrapper {
          align-items: center;
          display: flex;
          justify-content: space-between;
        }
      }
    }



     /* Footer Area */
    
    .footer-wrapper {
      background: $off-white;
      padding-top: 3.5%;
      max-width: 100%;
      .footer-info {
        margin: 0 20%;
        border-top: 2px solid #e5e5e5;
        border-radius: 3px;
        padding-top: 2.5%;
        text-align: center;
        color: black;
        h3 {
          font-weight: 500;
          font-size: 100%;
          font-family: 'Lato', sans-serif;
        }
        p {
          padding-top: 7px;
          
          font-size: 95%;
          letter-spacing: 0.5px;
          font-family: 'Lato', sans-serif;
        }
        ul {
          list-style: none;
          padding-top: 1%;
          padding-bottom: 1%;
          margin-left: 1.5%;
          li {
            display: inline-block;
            padding: 2% 12px 2% 12px;
            a {
              i {
                color: black;
              }
            }
          }
        }
      }
      footer {
        padding-bottom: 0.75%;
        p {
          font-size: 75%;
          color: #4c4c4c;
          font-weight: 500;
          text-align: center;
          font-family: 'Nunito', sans-serif;
        }
      }

    }

    }

