@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.otf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('fonts/ProximaNova-Regular.otf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNextLTPro-Regular.otf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('fonts/AvenirNextLTPro-Regular.otf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
$dark-red: #8B0000;
$gold: #FFCC33;
$off-white: #fafafa;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: #333;
}

header nav.navbar{
    margin: 0;
    .navbar-header{
        a{
            font: 1.4em 'Proxima Nova', sans-serif;
            letter-spacing: 1.5px;
            color: #333;
            text-transform: uppercase;
        }
    }
}
header .collapse{
    a{
        text-transform: uppercase;
        font: 1.1em 'Proxima Nova', sans-serif;
        color: #333;
        &:hover{
            cursor: pointer;
            color: $dark-red !important;
        }
    }
    li.dropdown{
            ul.dropdown-menu{
                opacity: 0.9;
                z-index: 10;
                // background-color: transparent;
                a{
                    font-size: 1.2em;
                    text-transform: lowercase;
                }
            }
    }
    .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
}
#cover-photo{
    .hero{
        background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.55)), url("../assets/proCover2.jpg");
        height: 100vh;
        max-width: 100%;
        position: relative;
        background-size: cover;
        background-position: top;
        .row{
            .hero-text{
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h1{
                    color: #FFF;
                    margin-left: 10%;
                    margin-right: 10%;
                    font: 4.5rem 'Proxima Nova', sans-serif;
                    // text-transform: uppercase;
                    // letter-spacing: 2px;
                    margin-bottom: 3px;
                    // font-weight: bold;
                }
                p{
                    color: #FFF;
                    font: 1.5em 'Proxima Nova', sans-serif;
                }
                }
            }
        }
    }

#main-info{
    .container-fluid{
        .description{
            text-align: center;
            p{
                font: 1.4em 'Proxima Nova', sans-serif;
                margin: 5% 25%;
                line-height: 1.5;
            }
        }
    }
}
#work{
    .container-fluid{
        // width: 100%;
        .work-images{
            margin: 0 10%;
            margin-top: 30px;
                vertical-align: top;
            .logos{
                text-align: center;
                vertical-align: middle;
                display: table-cell;
                height: 150px;
                margin-bottom: 20px;
                img{
                    height: auto;
                    // max-width: 100%;
                    // // width: 150px;
                    // // height: 75px;
                }
            }
        }
        .work-header{
            text-align: center;
            p{
                display: inline-block;
                font: 3em 'Proxima Nova', sans-serif;   
                border-bottom: 4px solid $dark-red;             
            }

        }
    }
}

#footer{
    padding: 3% 0;
    border-top: 1px solid #e5e5e5;
    .container-fluid{
        .copyright-social{
            text-align: center;
            p{
                font: 0.95em 'Proxima Nova', sans-serif;
                margin: 0;
                color: #5a5a5a;
                margin-bottom: 5px;
            }
            p#copyright{
                font: 1em 'Proxima Nova', sans-serif;

            }
            p#contact{
                font: 1em 'Proxima Nova', sans-serif;

            }
            img{
                margin-top: 20px;
                margin-bottom: 20px;
                width: 35px;
            }
        }
    }
}


@media (max-width: 500px){
    header{
        nav{
            .navbar-header{
                a{
                    font-size: 1em !important;
                }
            }
        }
    }
    // #cover-photo{
    //     .hero{
    //         .row{
    //             .hero-text{
    //                 h1{
    //                     font-size: 6.3rem;
    //                 }
    //                 p{
    //                     font-size: 1.1em;
    //                 }
    //             }
    //         }
    //     }
    }