/*   Theta Tau Colors
Color   Dark Red    Gold    Off-White
Hex #   8B0000     FFCC33    EDEAB5
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Nunito|Muli|Lato|Raleway|PT+Sans|Roboto+Slab|Hind|Open+Sans|Amiko|Source+Sans+Pro");
* {
  margin: 0;
  padding: 0;
  border: 0; }

.wrapper {
  margin: 0.5% auto;
  width: 100%; }

.home-wrapper {
  background-color: gray; }
  .home-wrapper .navBar {
    position: fixed;
    background-color: #f9f9f9;
    min-width: 100%;
    z-index: 10;
    height: 8vh;
    transition: all 0.7s; }
    .home-wrapper .navBar .logo {
      font-family: 'Roboto', sans-serif;
      font-size: 250%;
      letter-spacing: 2px;
      margin-left: 10%; }
      .home-wrapper .navBar .logo .red {
        color: #8B0000; }
  .home-wrapper nav ul {
    margin-right: 3%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style-type: none;
    width: 50%; }
    .home-wrapper nav ul a {
      padding: 0 5%;
      font-family: 'Nunito', sans-serif;
      letter-spacing: 1.5px;
      font-size: 125%;
      color: #000000;
      text-decoration: none;
      transition: all .5s ease; }
      .home-wrapper nav ul a :hover {
        color: #8B0000;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
  .home-wrapper nav li {
    display: inline-block; }
  .home-wrapper nav .wrapper {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.home-image .responsive-image {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("assets/home-image-3.jpg");
  height: 92vh;
  max-width: 100%;
  position: relative;
  background-size: cover;
  background-position: top; }
  .home-image .responsive-image .image-text {
    position: absolute;
    color: white;
    z-index: 1;
    width: 100%;
    top: 35%;
    margin: 0 auto;
    font-family: 'Hind', sans-serif; }
    .home-image .responsive-image .image-text h1 {
      padding: 0;
      text-align: center;
      font-size: 7.5em;
      font-weight: 600;
      color: #FFFFFF;
      letter-spacing: 2.5px; }
    .home-image .responsive-image .image-text h2 {
      letter-spacing: 1.5px;
      text-align: center;
      font-size: 120%;
      font-weight: 500; }

/*              Three Pillars           */
.pillars-wrapper {
  background-color: #fafafa;
  padding-top: 8.5%;
  width: 100%; }
  .pillars-wrapper .pillars-header {
    margin: 0 10%;
    text-align: center; }
    .pillars-wrapper .pillars-header h2 {
      display: inline-block;
      font-size: 300%;
      font-weight: 500;
      font-family: 'PT Sans', sans-serif;
      letter-spacing: 1.5px;
      border-bottom: 3px solid #8B0000; }
    .pillars-wrapper .pillars-header h3 {
      padding-top: 3%;
      text-align: center;
      font-size: 225%;
      font-weight: 500;
      letter-spacing: 1.5px;
      font-family: 'Raleway', sans-serif; }
    .pillars-wrapper .pillars-header p {
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 150%;
      font-weight: 500;
      padding-bottom: 2%; }
    .pillars-wrapper .pillars-header p#theta-tau-info {
      text-align: center;
      margin: 0 25%;
      margin-top: 1.5%;
      font-family: 'Lato', sans-serif;
      font-size: 92%;
      font-weight: 500; }
  .pillars-wrapper .pillars-third-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 3.5% 3% 0 3%;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .pillars-wrapper .pillars-third-wrapper .pillars-third {
      -webkit-flex-basis: 33.3%;
      -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
      text-align: center;
      padding-bottom: 8%; }
      .pillars-wrapper .pillars-third-wrapper .pillars-third h3 {
        letter-spacing: 1.2px;
        font-weight: 400;
        font-family: 'Oxygen', sans-serif;
        font-size: 150%;
        margin-top: 5%;
        padding-bottom: 5%; }
      .pillars-wrapper .pillars-third-wrapper .pillars-third p {
        font-family: 'Lato', sans-serif; }

/* About us ---- Rush  -------- */
.about-us-wrapper {
  background-color: #fafafa;
  height: 100%;
  display: relative; }
  .about-us-wrapper .about-us-header {
    margin: 0 20%;
    background: #fafafa; }
    .about-us-wrapper .about-us-header p#slogan {
      text-align: center;
      font-size: 150%;
      font-weight: 500;
      font-family: 'Lato', sans-serif;
      letter-spacing: 1px;
      margin-bottom: 20%; }
  .about-us-wrapper .rush-button {
    margin: 0 20%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 10%; }
    .about-us-wrapper .rush-button a {
      text-decoration: none; }
      .about-us-wrapper .rush-button a :hover {
        cursor: pointer;
        background-color: #8B0000;
        color: #FFFFFF; }
      .about-us-wrapper .rush-button a button {
        font-family: 'Roboto Slab', sans-serif;
        padding: 15px 40px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 175%;
        font-weight: 600;
        color: black;
        background-color: white;
        transition-duration: 0.4s;
        cursor: pointer; }

/* Image with Rush */
.rush-info {
  padding-bottom: 5%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("assets/tabling.jpg");
  height: 375px;
  max-width: 100%;
  background-size: cover;
  background-position: 0% 20%;
  margin-bottom: 0%; }
  .rush-info .rush-button {
    margin: 0 12%;
    position: absolute;
    text-align: center;
    padding-top: 10%; }
    .rush-info .rush-button p {
      width: 100%;
      font-size: 350%;
      color: #FFFFFF;
      padding-bottom: 10%;
      font-family: 'Montserrat', sans-serif; }
    .rush-info .rush-button a {
      text-decoration: none; }
      .rush-info .rush-button a :hover {
        cursor: pointer;
        background-color: #8B0000;
        color: #FFFFFF;
        opacity: 0.8;
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03); }
      .rush-info .rush-button a button {
        background-color: #8B0000;
        font-family: 'Lato', sans-serif;
        padding: 10px 40px;
        border: 0px solid #FFFFFF;
        border-radius: 50px;
        font-size: 155%;
        font-weight: 600;
        color: #FFFFFF;
        transition-duration: 0.4s;
        cursor: pointer; }

/* Footer Area */
.footer-wrapper {
  background: #fafafa;
  padding-top: 3.5%;
  max-width: 100%; }
  .footer-wrapper .footer-info {
    margin: 0 25%;
    border-top: 3px solid #000000;
    padding-top: 2.5%;
    text-align: center;
    color: black; }
    .footer-wrapper .footer-info h3 {
      font-weight: 700;
      font-size: 450%; }
    .footer-wrapper .footer-info p {
      font-size: 170%;
      padding-top: 1%; }
    .footer-wrapper .footer-info ul {
      list-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-left: 1.5%; }
      .footer-wrapper .footer-info ul li {
        display: inline-block;
        padding: 2% 12px 2% 12px; }
        .footer-wrapper .footer-info ul li a i {
          color: black; }
