<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UCSB Theta Tau</title>
  <link rel="stylesheet" href="../styles/styles.css" type="text/css">
  <link href="../css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation Bar -->
  <div class="home-wrapper">
    <nav class="navBar">
  <nav class="wrapper">
    <div class="logo"> 
    <h1> <span class="red"> ΘΤ </span></h1>
    </div><!-- Logo -->
    <ul>
      <a href="home.html"><li>Home</li></a>
      <a href="about.html"><li>About</li></a>
      <a href="rush.html"><li>Rush</li></a>
      <a href="members.html"><li>Brothers</li></a>
    </ul>
  </nav>
</nav>
</div>
<!-- Content --> 
 
  <!--- Footer ---->
  <div class="footer-wrapper">
    <div class="footer-info">
      <!--<img src="assets/shield.png"/>-->
      <h3>  Copyright @ Theta Tau Colony - University of California, Santa Barbara</h3>
      <!--<div class="social-media">-->
        <p> Contact us at: thetatau@gmail.com</p> 
      <ul>
        <!--<li>
          <a href="#">
            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>-->
        <li>
          <a href="#">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <footer>
      <p> Website Designed By</p>
      <p> Christian Nguyen</p>
    </footer>
  </div>
  <!--- JQuery ------>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>