<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UCSB Theta Tau</title>
  <link rel="stylesheet" href="../styles/home.css" type="text/css">
  <link href="../css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
   <!-- Navigation Bar -->
  <section class="navigation">
  <div class="nav-container">
    <div class="brand"> 
      <a href="#">THETA TAU | UCSB COLONY</a>
    </div>
  <nav>
  <ul class="nav-list">
    </li>
    <li><a href="home.html">HOME</a>
    <li><a href="#">ABOUT</a>
      <ul class="nav-dropdown">
        <li><a href="about.html">History</a></li>
        <li><a href="#!">Brotherhood</a></li>
        <li><a href="#!">Professional Development</a></li>
        <li><a href="#!">Service</a></li>
      </ul></li>
    <li><a href="#">MEMBERS</a>
     <ul class="nav-dropdown">
        <li><a href="members.html">Current Brothers</a></li>
        <li><a href="#!">Exec Board</a></li>
      </ul></li>
    <li><a href="rush.html">RUSH</a></li>
    <li class="icon">
    <a href="javascript:void(0);" onclick="navDropDown()">☰</a>
    </li>
  </ul>
</nav>
</div>
</section>
    <!-- Image in Home Page -->
    <div class="home-image">
      <div class="responsive-image">
        <div class="image-text">
          <h1> THETA TAU </h1>
          <!-- <p> UCSB Colony </p> -->
          <h2> Professional Co-ed Engineering Fraternity </h2>
        </div>
      </div>
    </div>
    
  <!-- Three Pillars ---->
  <div class="pillars-wrapper">
    <div class="pillars-header">
      <h2>WHO WE ARE</h2> 
      <h3> The Largest and Oldest Engineering Fraternity </h3>
      <p id="theta-tau-info">The purpose of Theta Tau is to develop and maintain a high standard of professional interest among its members, and to unite them in a strong bond of fraternal fellowship.</p>
      <!--<h3> THETA TAU PILLARS </h3>-->
      <!--<p> We strive to exhibit these following principles. </p>-->
    </div>
    <div class="pillars-third-wrapper">
      <div class="pillars-third">
        <i class="fa fa-heart fa-5x" aria-hidden="true"></i>
        <h3> SERVICE</h3>
        <p> Blahblahlbalhlaa</p>
      </div>
      <div class="pillars-third">
        <i class="fa  fa-mortar-board fa-5x" aria-hidden="true"></i>
        <h3> PROFESSIONAL DEVELOPMENT </h3>
        <p> Blahblahlf</p>
      </div>
      <div class="pillars-third">
        <i class="fa fa-group fa-5x" aria-hidden="true"></i>
        <h3> BROTHERHOOD</h3>
        <p> Blahblahlbalhlabldflba</p>
      </div>
    </div>
  </div>
  <!-- About Us -->
  <div class="about-us-wrapper">
    <div class="about-us-header">
    </div>
  </div>
  <!-- Image with Rush -->
  <div class="rush-info">
           <div class="rush-button">
           <p> COME OUT TO SPRING RUSH 2017 </p>
      <a href="#">
        <button> Rush ΘΤ</button>
      </a>
    </div>
  </div>
  <!--- Footer ---->
  <div class="footer-wrapper">
    <div class="footer-info">
      <h3>  Copyright @ Theta Tau Colony - University of California, Santa Barbara</h3>
     
        <p> Contact us at: thetatau@gmail.com</p> 
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <footer>
      <p> Website Designed By</p>
      <p> Christian Nguyen</p>
    </footer> 
  </div>
  <!--- JQuery ------>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="../app.js"></script>
</body>

</html>
