<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UCSB Theta Tau</title>
  <link rel="shortcut icon" type="image/  x-icon" href="../assets/favicon.ico" />
  <link rel="stylesheet" href="styles/members.css" type="text/css">
  <link href="styles/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation Bar -->
  <section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="index.html">THETA TAU | UCSB COLONY</a>
      </div>
      <nav>
        <ul class="nav-list">
          </li>
          <li><a href="index.html">HOME</a>
            <li><a href="history.html">ABOUT</a>
              <!--<ul class="nav-dropdown">
                <li><a href="about.html">History</a></li>
                <li><a href="#!">Brotherhood</a></li>
                <li><a href="#!">Professional Development</a></li>
                <li><a href="#!">Service</a></li>
              </ul>-->
            </li>
            <li><a>MEMBERS</a>
              <ul class="nav-dropdown">
                <li><a href="members.html">Current Brothers</a></li>
                <li><a href="#!">Alumni</a></li>
              </ul>
            </li>
            <li><a href="rush.html">RUSH</a></li>
            <li class="icon">
              <a href="javascript:void(0);" onclick="navDropDown()">☰</a>
            </li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- Content -->
  
  <section class="members">
    <div class="members-image-wrapper">
      <h1> Active Brothers</h1>
      <!--executive board-->
        <h2> Executive Board</h2>
      <div class="exec-wrapper-top">
      <div class="members-image">
        <img src="../assets/LUL.png" alt="Theta Tau Member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Asitha Kaduwela</p>
            <p class="board-position">Regent</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Computer Engineer</p>
            <!--<p class="member-town"> San Jose, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="Theta Tau Member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Brian Yan</p>
            <p class="board-position">Vice Regent</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> San Jose, CA</p>-->
          </div>
        </div>
      </div>
      </div>
      <div class="exec-wrapper-bottom">
      <div class="members-image">
        <img src="../assets/LUL.png" alt="Theta Tau Member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">David Wang</p>
            <p class="board-position">Secretary</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> San Jose, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="Theta Tau Member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Eric Wu</p>
            <p class="board-position">Scribe</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Electrical Engineer</p>
            <!--<p class="member-town"> San Jose, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="Theta Tau Member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Timothy Hinh</p>
            <p class="board-position">Treasurer</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Electrical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      </div>
      <!-- Brothers -->
     
        <h2> Brothers</h2>
      <div class="brothers-wrapper">
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Christian Cuong Nguyen</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Electrical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Aaron Nguyen</p>
            <p class="member-year">2nd Year</p>
            <p class="member-major">Mechanical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Douglas Pang</p>
            <p class="member-year">2nd Year</p>
            <p class="member-major">Chemical Engineering</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Lauren Dumapias</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Simon Wong</p>
            <p class="member-year">3rd Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Mario Infante</p>
            <p class="member-year">3rd Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Sayali Kakade</p>
            <p class="member-year">2nd Year</p>
            <p class="member-major">Computer Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Phu Tran</p>
            <p class="member-year">2nd Year</p>
            <p class="member-major">Mechanical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
     <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Sung in Kim</p>
            <p class="member-year">2nd Year</p>
            <p class="member-major">Electrical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Keith Long</p>
            <p class="member-year">3rd Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
     <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Ryan Fu</p>
            <p class="member-year">3rd Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Richard Wei</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Computer Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
       <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Gregory Bontemps</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Chemical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Peter Master</p>
            <p class="member-year">2nd Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Alan Tran</p>
            <p class="member-year">3rd Year</p>
            <p class="member-major">Computer Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Anna Lee</p>
            <p class="member-year">2nd Year</p>
            <p class="member-major">Computer Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Abhijit Kulkarni</p>
            <p class="member-year">3nd Year</p>
            <p class="member-major">Computer Science</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
       <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Allen Salcedo</p>
            <p class="member-year">2nd Year</p>
            <p class="member-major">Electrical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
       <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Tyler Vuong</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Electrical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
       <div class="members-image">
        <img src="../assets/LUL.png" alt="member" />
        <div class="overlay">
          <div class="desc">
            <p class="member-name">Blake Collins</p>
            <p class="member-year">4th Year</p>
            <p class="member-major">Chemical Engineer</p>
            <!--<p class="member-town"> Orange County, CA</p>-->
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <!--- Footer ---->
  <div class="footer-wrapper">
    <div class="footer-info">
      <h3> Copyright @ Theta Tau Colony - University of California, Santa Barbara</h3>
      <p> Contact us at: thetatau@gmail.com</p>
      <ul>
        <li>
          <a href="https://www.facebook.com/UCSBThetaTau/" target="_blank">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </a>
        </li>-->
      </ul>
    </div>
    <footer>
      <p> Website Designed By</p>
      <p> Christian Nguyen</p>
    </footer>
  </div>

  </div>
  <!--- JQuery ------>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>