<!DOCTYPE html>
<html lang="en">

<head>
    <title>UCSB Theta Tau</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/members.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">Theta Tau | UCSB Colony</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./index.html">Home</a></li>
                        <li class="dropdown">
                                <a>About </a>
                                <ul class="dropdown-menu">
                                    <li><a href="./history.html">History</a></li>
                                    <li><a href="./brotherhood.html">Brotherhood</a></li>
                                    <li><a href="./prodev.html">Professional</a></li>
                                </ul>
                            </li>
                        <li class="dropdown">
                            <a>Members </a>
                            <ul class="dropdown-menu">
                                <li><a href="./members.html">Actives</a></li>
                                <li><a href="#">Alumni</a></li>
                            </ul>
                        </li>
                        <li><a href="./rush.html">Rush</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
     <section id="cover-photo">
        <div class="container-fluid hero">
            <div class="row">
                <div class="col-xs-12 hero-text">
                    <h1 id="hero-header"> Active Brothers</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="main-info">
        <div class="container-fluid">
            <div class="row exec">
                <div class="col-xs-12">
                    <h2>
                        Executive Board
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 member-image">
                    <img src="./membersImage/asithaKaduwela.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Asitha Kaduwela</p>
                            <p> Regent</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Engineer</p>
                            <p> </p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 member-image">
                    <img src="./membersImage/davidWang.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> David Wang</p>
                            <p> Regent</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Science</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 member-image">
                    <img src="./membersImage/alanTran.jpg" class="img-responsive" />      
                    <div class="member-caption">
                        <div class="text">
                            <p> Alan Tran</p>
                            <p> Vice Regent</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Science</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 member-image">
                    <div class="member-caption">
                        <div class="text">
                            <p> Anna Lee</p>
                            <p> Vice Regent</p>
                            <p> Founding Class</p>
                            <p> 3rd Year Computer Engineer</p>
                        </div>
                    </div>
                    <img src="./membersImage/annaLee.jpg" class="img-responsive" />      
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 member-image">
                    <div class="member-caption">
                        <div class="text">
                            <p> Eric Wu</p>
                            <p> Secretary</p>
                            <p> Founding Class</p>
                            <p> 4th Year Electrical Engineer</p>
                        </div>
                    </div>
                    <img src="./membersImage/ericWu.jpg" class="img-responsive" />      
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 member-image">
                    <div class="member-caption">
                        <div class="text">
                            <p> Timothy Hinh</p>
                            <p> Treasurer</p>
                            <p> Founding Class</p>
                            <p> 4th Year Electrical Engineer</p>
                        </div>
                    </div>
                    <img src="./membersImage/timothyHinh.jpg" class="img-responsive" />      
                </div>
            </div>
            <div class="row active">
                <div class="col-xs-12">
                    <h2>
                        Active Brothers
                    </h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/aaronNguyen.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Aaron Nguyen</p>
                            <p> Founding Class</p>
                            <p> 3th Year Mechanical Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/abhijitKulkarni.jpg" class="img-responsive" />      
                    <div class="member-caption">
                        <div class="text">
                            <p> Abijit Kulkarni</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Science</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/allenSalcedo.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Allen Salcedo</p>
                            <p> Founding Class</p>
                            <p> 3th Year Electrical Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/blakeCollins.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Aaron Nguyen</p>
                            <p> Founding Class</p>
                            <p> 4th Year Chemical Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/brianYan.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Brian Yan</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Science</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/cuongNguyen.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Christian Cuong Nguyen</p>
                            <p> Founding Class</p>
                            <p> 4th Year Electrical Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/douglasPeng.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Douglas Pang</p>
                            <p> Founding Class</p>
                            <p> 3rd Year Chemical Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/gregBontemps.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Greg Bontemps</p>
                            <p> Founding Class</p>
                            <p> 4th Year Chemical Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/keithLong.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Keith Long</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Science</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/marioInfante.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Mario Infante</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Science</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/peterMaster.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Peter Master</p>
                            <p> Founding Class</p>
                            <p> 3rd Year Computer Science</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/phuTran.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Phu Tran</p>
                            <p> Founding Class</p>
                            <p> 3rd Year Mechanical Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/richardWei.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Richard Wei</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/ryanFu.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Ryan Fu</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Science</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/sayaliKakade.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Sayali Kakade</p>
                            <p> Founding Class</p>
                            <p> 3rd Year Computer Science</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/simonWong.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Simon Wong</p>
                            <p> Founding Class</p>
                            <p> 4th Year Computer Science</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/sunginKim.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Sungin Kim</p>
                            <p> Founding Class</p>
                            <p> 3rd Year Computer Engineer</p>
                        </div>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 member-image">
                    <img src="./membersImage/tylerVuong.jpg" class="img-responsive" /> 
                    <div class="member-caption">
                        <div class="text">
                            <p> Tyler Vuong</p>
                            <p> Founding Class</p>
                            <p> 4th Year Electrical Engineer</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container-fluid">
            <div class="row copyright-social">
                <div class="col-xs-12">
                    <p id="copyright">Copyright @ Theta Tau Colony - University of California, Santa Barbara</p>
                    <p id="contact"> Contact us at: ucsbthetatau@gmail.com</p>
                    <a href="https://www.facebook.com/UCSBThetaTau/" target="_blank"><img href="#" src="./assets/facebook.svg" class="img-responsive center-block"/></a>
                    <p>Website Designed By <br> Christian Nguyen</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>