<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UCSB Theta Tau</title>
  <link rel="stylesheet" href="../styles/prodev.css" type="text/css">
  <link href="../css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation Bar -->
  <section class="navigation">
  <div class="nav-container">
    <div class="brand"> 
      <a href="#">THETA TAU | UCSB COLONY</a>
    </div>
  <nav>
  <ul class="nav-list">
    </li>
    <li><a href="home.html">HOME</a>
    <li><a href="#">ABOUT</a>
      <!--<ul class="nav-dropdown">
        <li><a href="about.html">History</a></li>
        <li><a href="#!">Brotherhood</a></li>
        <li><a href="#!">Professional Development</a></li>
        <li><a href="#!">Service</a></li>
      </ul></li>-->
    <li><a href="#">MEMBERS</a>
     <ul class="nav-dropdown">
        <li><a href="members.html">Current Brothers</a></li>
        <li><a href="#!">Exec Board</a></li>
      </ul></li>
    <li><a href="rush.html">RUSH</a></li>
    <li class="icon">
    <a href="javascript:void(0);" onclick="navDropDown()">☰</a>
    </li>
  </ul>
</nav>
</div>
</section>
<!-- Content --> 
 <div class="pro-dev-content">
  <h1>hey</h1>
 </div>
  <!--- Footer ---->
  <div class="footer-wrapper">
    <div class="footer-info">
      
      <h3>  Copyright @ Theta Tau Colony - University of California, Santa Barbara</h3>
   
        <p> Contact us at: thetatau@gmail.com</p> 
      <ul>
        <!--<li>
          <a href="#">
            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>-->
        <li>
          <a href="#">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <footer>
      <p> Website Designed By</p>
      <p> Christian Nguyen</p>
    </footer>
  </div>

  <!--- JQuery ------>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../app.js"></script>
</body>

</html>