<!DOCTYPE html>
<html lang="en">

<head>
    <title>UCSB Theta Tau</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/rush.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">Theta Tau | UCSB Colony</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./index.html">Home</a></li>
                        <li class="dropdown">
                            <a>About </a>
                            <ul class="dropdown-menu">
                                <li><a href="./history.html">History</a></li>
                                <li><a href="./brotherhood.html">Brotherhood</a></li>
                                <li><a href="./prodev.html">Professional</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a>Members </a>
                            <ul class="dropdown-menu">
                                <li><a href="./members.html">Actives</a></li>
                                <li><a href="./alumni.html">Alumni</a></li>
                            </ul>
                        </li>
                        <li><a href="./rush.html">Rush</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="cover-photo">
        <div class="container-fluid hero">
            <div class="row">
                <div class="col-xs-12 hero-text">
                    <h1 id="theta-tau"> Rush</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="main-info">
        <div class="container-fluid">
            <div class="row over">
                <div class="col-xs-12">
                    <h2> Spring Rush 2017 Is Over.</h2>
                    <p> Thanks to everyone who came out to Spring Rush 2017. Make sure to come out to Fall Rush 2017!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h3> FAQS</h3>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        
        What is rush?
                        </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse ">
                    <div class="panel-body">Rush allows you to learn more about Theta Tau and what we have to offer. There will be several events
                        that shows you what our fraternity is about and gives you a chance to meet our active members. Rush
                        is free and isn't a requirement but it will give a better opportunity to learn about the fraternity
                        and increase your chances of receiving a bid.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Why should I rush?
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">Rush is an opportunity that will allow you to gauge your interest in a professional fraternity. Theta
                        Tau will help you grow academically, socially, and professionally. It will provide a strong social
                        and professional network that will last a lifetime.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        What are the requirements to join Theta Tau?
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">You must have an academic GPA of 2.0 or above.<br> You cannot be an active member in a competing fraternity.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        Do I have to attend all rush events to join?
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">No you don't! However, it will help us get to know you more and make you stand out. We understand that
                        it's difficult to attend every single rush event because of school and other time commitments. We
                        highly recommend you show up to as many events as possible and reserve an interview slot! If you
                        can't make it to any event please make sure to email us at ucsbthetatau@gmail.com and explain to
                        us your situation!
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        Do I have to be an engineer to rush?
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">No! We will be accepting Applied Mathematics. We will also accept you if you're intending on becoming
                        an engineer.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container-fluid">
            <div class="row copyright-social">
                <div class="col-xs-12">
                    <p id="copyright">Copyright @ Theta Tau Colony - University of California, Santa Barbara</p>
                    <p id="contact"> Contact us at: ucsbthetatau@gmail.com</p>
                    <a href="https://www.facebook.com/UCSBThetaTau/" target="_blank"><img href="#" src="./assets/facebook.svg" class="img-responsive center-block"/></a>
                    <p>Website Designed By <br> Christian Nguyen</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>