<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UCSB Theta Tau</title>
  <link rel="shortcut icon" type="image/  x-icon" href="../assets/favicon.ico"/>
  <link rel="stylesheet" href="../styles/rush.css" type="text/css">
  <link href="../css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation Bar -->
<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="#">THETA TAU | UCSB COLONY</a>
      </div>
      <nav>
        <ul class="nav-list">
          </li>
          <li><a href="index.html">HOME</a>
            <li><a href="history.html">ABOUT</a>
              <!--<ul class="nav-dropdown">
                <li><a href="about.html">History</a></li>
                <li><a href="#!">Brotherhood</a></li>
                <li><a href="#!">Professional Development</a></li>
                <li><a href="#!">Service</a></li>
              </ul>-->
            </li>
            <li><a href="#">MEMBERS</a>
              <ul class="nav-dropdown">
                <li><a href="members.html">Current Brothers</a></li>
                <li><a href="#!">Exec Board</a></li>
              </ul>
            </li>
            <li><a href="rush.html">RUSH</a></li>
            <li class="icon">
              <a href="javascript:void(0);" onclick="navDropDown()">☰</a>
            </li>
        </ul>
      </nav>
    </div>
  </section>
  <!--flyer image-->
 <div id="content-flyer"> 
   <h2> Spring Rush 2017 </h2>
  <div class="flyer-img">
  </div>
 </div>
<!-- Content and Info-->
<div class="content-nav">
  <ul>
    <li>
      <a href="#">
        <button> FB PAGE </button>
      </a>
    </li>  
     <li>
      <a href="#">
        <button> APPLY </button>
      </a>
    </li>  
     <li>
      <a href="#">
        <button> FAQs </button>
      </a>
    </li>  
  </ul>
</div>
<!--Schedule -->
<div class="schedule-content">
  <div id="schedule-header">
  <h2> Calendar of Events</h2>
  </div>
  <div class="day-block" id="mon">
    <h3> Monday</h3>
    <h4> Info Night</h4>
    <p> Come join us</p>
    <div id="date-location">
      <p> Date: TBA </p>
      <p> Location: TBA </p>
    </div>
  </div>
  <div class="day-block" id="tues">
    <h3> Tuesday</h3>
    <h4> Professional Night</h4>
     <div id="date-location">
      <p> Date: TBA </p>
      <p> Location: TBA </p>
    </div>
  </div>
  <div class="day-block" id="weds">
    <h3> Wednesday</h3>
    <h4> Service Night</h4>
     <div id="date-location">
      <p> Date: TBA </p>
      <p> Location: TBA </p>
    </div>
  </div>
  <div class="day-block" id="thurs">
    <h3> Thursday</h3>
    <h4> Brotherhood BBQ</h4>
     <div id="date-location">
      <p> Date: TBA </p>
      <p> Location: TBA </p>
    </div>
  </div>
  <div class="day-block" id="fri">
    <h3> Friday</h3>
    <h4> Interviews</h4>
    <p> Come join us for a bgagerogeogl</p>
  </div>
</div>
<!-- FAQS / REQUIREMENTS-->
<div class="faqs">
  <div id="faq-header">
    <h3> FAQs</h3>
  </div>
  <div class="faqs-content">
    <div class="toggle-question">
      <p class="header-question" onclick="displayFAQ(0)"> <span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span> What is Theta Tau?</p>
      <div class="toggle-answer">
        <p> Theta Tau is a professional co-ed engineering fraternity. We are a brotherhood that promotes professionalism, service, and strong brotherly ties.</p>
      </div>
    </div>
    <div class="toggle-question">
      <p class="header-question" onclick="displayFAQ(1)"><span class="arrow"><i class="fa fa-caret-down" aria-hidden="<tru></tru>e"></i></span> What is rush?</p>
      <div class="toggle-answer">
        <p> Rush allows you to learn more about Theta Tau and what we have to offer. There will be several events that shows you what our fraternity is about and gives you 
          a chance to meet our active members. Rush is free and isn't a requirement but it will give a better opportunity to learn about the 
          fraternity and increase your chances of receiving a bid. </p>
      </div>
    </div>
    <div class="toggle-question">
      <p class="header-question" onclick="displayFAQ(2)"><span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span> Why should I rush?</p>
      <div class="toggle-answer">
        <p> Rush is an opportunity that will allow you to gauge your interest in a professional fraternity.</p>
      </div>
    </div>
    <div class="toggle-question">
      <p class="header-question" onclick="displayFAQ(3)"><span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>What are the requirements to join Theta Tau?</p>
      <div class="toggle-answer">
        <p> You must have an academic GPA of 2.0 or above.</p>
      </div>
    </div>
     <div class="toggle-question">
      <p class="header-question" onclick="displayFAQ(4)"><span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>Do I have to be an engineer to rush?</p>
      <div class="toggle-answer">
        <p> No! We will be accepting Applied Mathematics. We will also accept you if you're intending on becoming an engineer. </p>
      </div>
    </div>
    <div class="toggle-question">
      <p class="header-question" onclick="displayFAQ(5)"><span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span> What is pledging?</p>
      <div class="toggle-answer">
        <p> Pledging is a process where you will be initiated into the fraternity. A big part of the pledging process is the
           development of professional skills, service to the community, and getting to know our members. We can't reveal too much info so you'll have to pledge to find out. :)</p>
      </div>
    </div>
    <div class="toggle-question">
      <p class="header-question" onclick="displayFAQ(6)"><span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span> Do you have anymore questions?</p>
      <div class="toggle-answer">
        <p> Contact our rush chair and they will answer your questions ASAP!
           <br>Anna Lee: 
           <br>Peter Master: 
           </p>
      </div>
    </div>
  </div>
 <div class="flyer-img">
 </div>
<!-- Content and Info-->
  <!--- Footer ---->
  <div class="footer-wrapper">
    <div class="footer-info">
      <!--<img src="assets/shield.png"/>-->
      <h3>  Copyright @ Theta Tau Colony - University of California, Santa Barbara</h3>
      <!--<div class="social-media">-->
        <p> Contact us at: thetatau@gmail.com</p> 
      <ul>
        <!--<li>
          <a href="#">
            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>-->
        <li>
          <a href="#">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <footer>
      <p> Website Designed By</p>
      <p> Christian Nguyen</p>
    </footer>
  </div>
  <!--- JQuery ------>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="../app.js"></script>
</body>

</html>