<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UCSB Theta Tau</title>
  <link rel="stylesheet" href="../styles/rush.css" type="text/css">
  <link href="../css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navigation Bar -->
  <div class="home-wrapper">
    <nav class="navBar">
  <nav class="wrapper">
    <div class="logo"> 
    <h1> <span class="red"> ΘΤ </span></h1>
    </div><!-- Logo -->
    <ul>
      <a href="home.html"><li>Home</li></a>
      <a href="about.html"><li>About</li></a>
      <a href="rush.html"><li>Rush</li></a>
      <a href="members.html"><li>Brothers</li></a>
    </ul>
  </nav>
</nav>
</div>
<!-- flyer image --> 
 <div id="content-flyer"> 
   <h2> Spring Rush 2017 </h2>
  <div class="flyer-img">
  </div>
 </div>
<!-- Content and Info-->
<div class="content-nav">
  <ul>
    <li>
      <a href="#">
        <button> FB PAGE </button>
      </a>
    </li>  
     <li>
      <a href="#">
        <button> APPLY </button>
      </a>
    </li>  
     <li>
      <a href="#">
        <button> FAQs </button>
      </a>
    </li>  
  </ul>
</div>
<!--Schedule -->
<div class="schedule-content">
  <div id="schedule-header">
  <h2> Calendar of Events</h2>
  </div>
  <div class="day-block" id="mon">
    <h3> Monday</h3>
    <h4> Blah</h4>
    <p> Come join us</p>
    <div id="date-location">
      <p> Date: TBA </p>
      <p> Location: TBA </p>
    </div>
  </div>
  <div class="day-block" id="tues">
    <h3> Tuesday</h3>
    <h4> Blah</h4>
     <div id="date-location">
      <p> Date: TBA </p>
      <p> Location: TBA </p>
    </div>
  </div>
  <div class="day-block" id="weds">
    <h3> Wednesday</h3>
    <h4> Blah</h4>
     <div id="date-location">
      <p> Date: TBA </p>
      <p> Location: TBA </p>
    </div>
  </div>
  <div class="day-block" id="thurs">
    <h3> Thursday</h3>
    <h4> Blah</h4>
     <div id="date-location">
      <p> Date: TBA </p>
      <p> Location: TBA </p>
    </div>
  </div>
  <div class="day-block" id="fri">
    <h3> Friday</h3>
    <h4> Blah</h4>
    <p> Come join us for a bgagerogeogl</p>
  </div>
</div>
<!-- FAQS / REQUIREMENTS-->
<div class="faqs">
  <div id="faq-header">
    <h3> FAQs</h3>
  </div>
  <div class="faqs-content">
    <div class="toggle-question">
      
    </div>
  </div>
</div>
  <!--- Footer ---->
  <div class="footer-wrapper">
    <div class="footer-info">
      <!--<img src="assets/shield.png"/>-->
      <h3>  Copyright @ Theta Tau Colony - University of California, Santa Barbara</h3>
      <!--<div class="social-media">-->
        <p> Contact us at: thetatau@gmail.com</p> 
      <ul>
        <!--<li>
          <a href="#">
            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>-->
        <li>
          <a href="#">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
        </li>
      </ul>
    </div>
    <footer>
      <p> Website Designed By</p>
      <p> Christian Nguyen</p>
    </footer>
  </div>
  <!--- JQuery ------>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>