@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Nunito|Muli|Lato|Raleway|PT+Sans|Roboto+Slab|Open+Sans|Amiko|Source+Sans+Pro|Playfair+Display");
* {
  margin: 0;
  padding: 0;
  border: 0; }

.navigation {
  height: 8vh;
  position: fixed;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 10; }
  .navigation .nav-container .brand {
    position: absolute;
    top: 23px;
    margin-left: 3.5%; }
    .navigation .nav-container .brand a {
      line-height: 20px;
      font-weight: 1200;
      color: #000000;
      font: 105% 'Lato', sans-serif;
      letter-spacing: 3px;
      text-decoration: none; }
  .navigation .nav-container nav {
    margin-right: 5%;
    float: right; }
    .navigation .nav-container nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .navigation .nav-container nav ul .icon {
        display: none; }
      .navigation .nav-container nav ul li {
        float: left;
        position: relative; }
        .navigation .nav-container nav ul li a {
          font: 105% 'Lato', sans-serif;
          display: block;
          padding: 0 20px;
          line-height: 8vh;
          color: #000000;
          text-decoration: none; }
          .navigation .nav-container nav ul li a:hover {
            cursor: pointer;
            color: #8B0000; }
        .navigation .nav-container nav ul li:hover > ul.nav-dropdown {
          display: block; }
        .navigation .nav-container nav ul li ul.nav-dropdown {
          position: absolute;
          display: none;
          top: 8vh;
          z-index: 1;
          background-color: #e1e1e1;
          box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15); }
          .navigation .nav-container nav ul li ul.nav-dropdown li {
            float: none;
            min-width: 190px; }
            .navigation .nav-container nav ul li ul.nav-dropdown li :hover {
              background: #8B0000;
              color: #FFF; }
            .navigation .nav-container nav ul li ul.nav-dropdown li a {
              padding: 15px;
              line-height: 20px; }

/* Content Area */
.theta-tau-origins {
  padding-top: 8vh;
  background-color: #fafafa;
  width: 100%;
  padding-top: 7%;
  height: 100%; }
  .theta-tau-origins::after {
    content: "";
    clear: both;
    display: table; }
  .theta-tau-origins .clearfix {
    padding-bottom: 5%;
    border-bottom: 2px solid #e5e5e5;
    margin: 5% 10%;
    float: left;
    width: 80%; }
  .theta-tau-origins aside.one {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto; }
    .theta-tau-origins aside.one img {
      height: 300px;
      margin: 0 auto;
      display: block; }
  .theta-tau-origins aside.two {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto; }
    .theta-tau-origins aside.two img {
      height: 300px;
      margin: 0 auto;
      display: block; }
  .theta-tau-origins article.one {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto; }
    .theta-tau-origins article.one h2 {
      font: 3em 'Playfair Display', serif; }
    .theta-tau-origins article.one p {
      padding-top: 4%;
      font: 1.3em 'Lato', sans-serif;
      line-height: 1.2;
      text-align: left; }
  .theta-tau-origins article.two {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto; }
    .theta-tau-origins article.two h2 {
      font: 3em 'Playfair Display', serif; }
    .theta-tau-origins article.two p {
      padding-top: 4%;
      font: 1.3em 'Lato', sans-serif;
      line-height: 1.2;
      text-align: left; }

/* Footer Area */
.footer-wrapper {
  clear: both;
  background: #fafafa;
  padding-top: 3.5%;
  max-width: 100%; }
  .footer-wrapper .footer-info {
    margin: 0 20%;
    border-top: 2px solid #e5e5e5;
    border-radius: 3px;
    padding-top: 2.5%;
    text-align: center;
    color: black; }
    .footer-wrapper .footer-info h3 {
      font-weight: 500;
      font-size: 100%;
      font-family: 'Lato', sans-serif; }
    .footer-wrapper .footer-info p {
      padding-top: 7px;
      font-size: 95%;
      letter-spacing: 0.5px;
      font-family: 'Lato', sans-serif; }
    .footer-wrapper .footer-info ul {
      list-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-left: 1.5%; }
      .footer-wrapper .footer-info ul li {
        display: inline-block;
        padding: 2% 12px 2% 12px; }
        .footer-wrapper .footer-info ul li a i {
          color: black; }
  .footer-wrapper footer {
    padding-bottom: 0.75%; }
    .footer-wrapper footer p {
      font-size: 75%;
      color: #4c4c4c;
      font-weight: 500;
      text-align: center;
      font-family: 'Nunito', sans-serif; }

@media screen and (max-width: 768px) {
  .navigation .nav-container nav {
    float: none; }
    .navigation .nav-container nav ul.nav-list li {
      display: none; }
    .navigation .nav-container nav ul.nav-list li.icon {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block; } }

@media screen and (max-width: 768px) {
  .navigation .nav-container nav {
    float: none; }
    .navigation .nav-container nav ul.nav-list.responsive {
      position: fixed;
      width: 100vw;
      padding-top: 8vh;
      text-align: center; }
      .navigation .nav-container nav ul.nav-list.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0; }
        .navigation .nav-container nav ul.nav-list.responsive li.icon a {
          text-align: right; }
      .navigation .nav-container nav ul.nav-list.responsive li:not(.icon) {
        float: none;
        display: inline; }
        .navigation .nav-container nav ul.nav-list.responsive li:not(.icon) a {
          z-index: 100;
          background-color: #e4e3e0;
          display: block;
          text-align: center; }
          .navigation .nav-container nav ul.nav-list.responsive li:not(.icon) a:not(:only-child):before {
            content: '▾'; }
          .navigation .nav-container nav ul.nav-list.responsive li:not(.icon) a:not(:only-child):after {
            padding-left: 7px;
            content: ' '; }
        .navigation .nav-container nav ul.nav-list.responsive li:not(.icon) ul {
          display: inline; }
        .navigation .nav-container nav ul.nav-list.responsive li:not(.icon) ul.nav-dropdown {
          position: relative;
          display: none;
          top: 0; }
      .navigation .nav-container nav ul.nav-list.responsive li.open:not(.icon) a:not(:only-child):before {
        content: '▴'; }
      .navigation .nav-container nav ul.nav-list.responsive li.open:not(.icon) a:not(:only-child):after {
        padding-left: 10px;
        content: ' '; }
      .navigation .nav-container nav ul.nav-list.responsive li.open:not(.icon) a:hover {
        background: #8B0000;
        color: white; }
      .navigation .nav-container nav ul.nav-list.responsive li.open:not(.icon):hover > ul.nav-dropdown {
        display: block; }
        .navigation .nav-container nav ul.nav-list.responsive li.open:not(.icon):hover > ul.nav-dropdown li a:hover {
          background: #8B0000; }
  .theta-tau-origins aside.one {
    float: none; }
    .theta-tau-origins aside.one img {
      width: 100%;
      height: 100%; }
  .theta-tau-origins aside.two {
    float: none; }
    .theta-tau-origins aside.two img {
      width: 100%;
      height: 100%; }
  .theta-tau-origins article.one {
    float: none; }
    .theta-tau-origins article.one h2 {
      text-align: center;
      font: 3em 'Playfair Display', sans-serif; }
    .theta-tau-origins article.one p {
      padding-left: 0;
      text-align: left;
      font-size: 1.1em;
      width: 100%; }
  .theta-tau-origins article.two {
    float: none; }
    .theta-tau-origins article.two h2 {
      text-align: center;
      font: 3em 'Playfair Display', sans-serif; }
    .theta-tau-origins article.two p {
      padding-left: 0;
      text-align: left;
      font-size: 1.1em;
      width: 100%; } }

@media screen and (max-width: 576px) {
  .theta-tau-origins .clearfix {
    margin: 3% 0;
    width: 100%; }
    .theta-tau-origins .clearfix #origins-info h2 {
      font-size: 2.5em;
      width: 100%; } }
