@import url("https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Nunito|Muli|Lato|Raleway|PT+Sans|Roboto+Slab|Hind|Open+Sans|Amiko|Source+Sans+Pro");
* {
  margin: 0;
  padding: 0;
  border: 0; }

.wrapper {
  margin: 0.5% auto;
  width: 100%; }

.home-wrapper {
  background-color: gray; }
  .home-wrapper .navBar {
    position: fixed;
    background-color: #f9f9f9;
    min-width: 100%;
    z-index: 10;
    height: 8vh;
    transition: all 0.7s; }
    .home-wrapper .navBar .logo {
      font-family: 'Roboto', sans-serif;
      font-size: 250%;
      letter-spacing: 2px;
      margin-left: 10%; }
      .home-wrapper .navBar .logo .red {
        color: #8B0000; }
  .home-wrapper nav ul {
    margin-right: 3%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style-type: none;
    width: 50%; }
    .home-wrapper nav ul a {
      padding: 0 5%;
      font-family: 'Nunito', sans-serif;
      letter-spacing: 1.5px;
      font-size: 125%;
      color: #000000;
      text-decoration: none;
      transition: all .5s ease; }
      .home-wrapper nav ul a :hover {
        color: #8B0000;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
  .home-wrapper nav li {
    display: inline-block; }
  .home-wrapper nav .wrapper {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

#content-flyer {
  text-align: center;
  padding-top: 8vh; }
  #content-flyer h2 {
    width: 50%;
    display: inline-block;
    border-bottom: 3px solid #8B0000;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    padding-top: 2%;
    padding-bottom: 0.5%; }
  #content-flyer .flyer-img {
    margin-top: 3%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/home-image-3.jpg");
    height: 500px;
    max-width: 100%;
    background-size: cover;
    background-position: center; }

.content-nav {
  background-color: #fafafa;
  padding-top: 3%; }
  .content-nav ul {
    text-align: center;
    max-width: 100%;
    width: 100%;
    list-style-type: none; }
    .content-nav ul li {
      padding: 0 5.5%;
      display: inline-block; }
      .content-nav ul li a {
        text-decoration: none; }
        .content-nav ul li a :hover {
          cursor: pointer;
          background-color: #8B0000;
          color: #FFFFFF;
          opacity: 0.8;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
        .content-nav ul li a button {
          background-color: #e1e1e1;
          font-family: 'Nunito', sans-serif;
          padding: 15px 70px;
          border: 0px solid #e1e1e1;
          border-radius: 50px;
          letter-spacing: 1.5px;
          font-size: 110%;
          font-weight: 600;
          color: #000000;
          transition-duration: 0.4s;
          cursor: pointer; }

.schedule-content {
  width: 100%;
  background-color: #fafafa;
  padding-top: 5%; }
  .schedule-content #schedule-header {
    text-align: center; }
    .schedule-content #schedule-header h2 {
      display: inline-block;
      border-bottom: 4px solid #e5e5e5;
      width: 50%;
      margin: 3% 0;
      padding-bottom: 0.5%;
      font-size: 3em;
      border-radius: 3px;
      font-family: 'Raleway', sans-serif; }
  .schedule-content .day-block {
    height: 180px;
    max-width: 100%;
    margin: 2% 20%;
    padding: 0 2%;
    border: 1px solid red;
    position: relative; }
    .schedule-content .day-block h3 {
      padding-top: 1%;
      text-align: center;
      font: 200% 'Muli', sans-serif; }
    .schedule-content .day-block h4 {
      font: 120% 'Open Sans', sans-serif;
      text-align: center; }
    .schedule-content .day-block p {
      padding-top: 1%;
      font: 100% 'Lato', sans-serif;
      max-width: 100%;
      width: 70%; }
    .schedule-content .day-block #date-location {
      position: absolute;
      bottom: 2.5%;
      right: 3%; }
      .schedule-content .day-block #date-location p {
        width: 100%; }
  .schedule-content #fri {
    margin-bottom: 0; }

.faqs {
  padding-top: 8%;
  text-align: center;
  background-color: #fafafa; }
  .faqs #faq-header {
    display: inline-block; }
    .faqs #faq-header h3 {
      font: 275% 'Raleway', sans-serif; }

/* Footer Area */
.footer-wrapper {
  background: #fafafa;
  padding-top: 3.5%;
  max-width: 100%; }
  .footer-wrapper .footer-info {
    margin: 0 20%;
    border-top: 2px solid #e5e5e5;
    border-radius: 3px;
    padding-top: 2.5%;
    text-align: center;
    color: black; }
    .footer-wrapper .footer-info h3 {
      font-weight: 500;
      font-size: 100%;
      font-family: 'Lato', sans-serif; }
    .footer-wrapper .footer-info p {
      padding-top: 7px;
      font-size: 95%;
      letter-spacing: 0.5px;
      font-family: 'Lato', sans-serif; }
    .footer-wrapper .footer-info ul {
      list-style: none;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-left: 1.5%; }
      .footer-wrapper .footer-info ul li {
        display: inline-block;
        padding: 2% 12px 2% 12px; }
        .footer-wrapper .footer-info ul li a i {
          color: black; }
  .footer-wrapper footer {
    padding-bottom: 0.75%; }
    .footer-wrapper footer p {
      font-size: 75%;
      color: #4c4c4c;
      font-weight: 500;
      text-align: center;
      font-family: 'Nunito', sans-serif; }
